---
CompileFlags:
  CompilationDatabase: .
  Compiler: clang

# The following options should render Doxygen properly, requires clangd-22, the current release is 20.1.8
# Documentation:
#   CommentFormat: Doxygen
