# ---------------------------
# Build artifacts
# ---------------------------
/build
.cache

# Compiled objects and binaries
*.o
*.obj
*.exe
*.xmake

# ---------------------------
# Test output
# ---------------------------
*.log

# ---------------------------
# Editor
# ---------------------------
.zed/
.idea/
.vscode/
